<div *ngIf="edge">
  <h2>{{sourceShortName}} &rarr; {{targetShortName}}</h2>

  <div>
    <div class="col-sm-2">Source</div>
    <div class="col-sm-10"><a [routerLink]="['/node', edge.sourceName]">{{edge.sourceName}}</a></div>
    <div class="col-sm-2">Target</div>
    <div class="col-sm-10"><a [routerLink]="['/node', edge.targetName]">{{edge.targetName}}</a></div>
    <div class="col-sm-2">Dependency Type</div>
    <div class="col-sm-10"><b>{{edge.typeName}}</b></div>
  </div>

  <div class="col-xs-12"><br/></div>

  <div *ngIf="hasProperties()">
    <h3>Properties</h3>
    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <td><b>Key</b></td><td><b>Value</b></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of propertyKeys">
        <td>{{key}}</td><td>{{edge.properties[key]}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="hasBaseDependencies()">
    <h3>Base Dependencies</h3>

    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <td><b>Source</b></td>
        <td><b>Target</b></td>
        <td><b>Dependency Type</b></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dep of edge.baseDependencies">
        <td><a [routerLink]="['/node', dep.sourceName]">{{dep.sourceName}}</a></td>
        <td><a [routerLink]="['/node', dep.targetName]">{{dep.targetName}}</a></td>
        <td><a [routerLink]="['/edge', dep.sourceName, dep.targetName]">{{dep.typeName}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
