<div class="container">
  <nav class="navbar navbar-dark mb-5 qav-background">
    <a class="navbar-brand" href="/">QAvalidator</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/nodes">Nodes</a>
        <a class="nav-item nav-link" routerLink="/info">Info</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <nav class="navbar mt-5 fixed-bottom qav-background">
    <div class="navbar-expand m-auto navbar-text">
      QAvalidator &mdash; &copy; QAware GmbH 2016
    </div>
  </nav>
</div>
